<h2>地域ごとの温泉一覧</h2>
<ul>
  <li><%= link_to '東北の温泉', region_onsens_path(region: '東北') %></li>
  <li><%= link_to '関東の温泉', region_onsens_path(region: '関東') %></li>
  <li><%= link_to '中部の温泉', region_onsens_path(region: '中部') %></li>
  <li><%= link_to '近畿の温泉', region_onsens_path(region: '近畿') %></li>
  <li><%= link_to '中国の温泉', region_onsens_path(region: '中国') %></li>
  <li><%= link_to '四国の温泉', region_onsens_path(region: '四国') %></li>
  <li><%= link_to '九州・沖縄の温泉', region_onsens_path(region: '九州・沖縄') %></li>
</ul>
