<h1>温泉地の投稿</h1>

<%= form_with model: @onsen, local: true do |form| %>
  <% if @onsen.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@onsen.errors.count, "error") %> prohibited this onsen from being saved:</h2>
      <ul>
        <% @onsen.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="actions">
    <%= form.submit '投稿', class: 'btn btn-primary' %>
  </div>
<% end %>
