<div class="settings-container">
  <div class="settings-main">
    <div class="profile-section">
      <h1>プロフィール</h1>
      <div class="avatar-container">
        <% if @user.avatar.attached? %>
          <%= image_tag @user.avatar, class: "current-avatar" %>
        <% else %>
          <%= image_tag 'default_avatar.png', class: "current-avatar", alt: "デフォルトアイコン" %>
        <% end %>
      </div>    
      <% if @user.errors.any? %>
        <div class="alert alert-danger">
          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>     
      <p>名前: <%= @user.name.present? ? @user.name : "ゲスト" %></p>
      <p>メールアドレス: <%= @user.email %></p>
      <p>パスワード: ****** </p>
      <%= link_to '編集', edit_user_registration_path, class: "edit-link btn btn-primary", data: { guest: current_user.guest? } %>
    </div>

    <div class="onsens-section">
      <h1>お気に入りの温泉地</h1>
      <% if @saved_onsens.any? %>
        <ul>
          <% @saved_onsens.each do |saved_onsen| %>
            <li class="mypage-li">
              <%= link_to saved_onsen.onsen.name, onsen_path(saved_onsen.onsen) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="note">お気に入りの温泉地はありません。</p>
      <% end %>
    </div>

    <div class="onsens-section">
      <h1>投稿した温泉地</h1>
      <% if @posted_onsens.any? %>
        <ul class="mypage-ul">
          <% @posted_onsens.each do |onsen| %>
            <li class="mypage-li">
              <%= link_to onsen.name, onsen_path(onsen) %>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p class="note">投稿した温泉地はありません。</p>
      <% end %>
    </div>
  </div>
</div>
