<div class="home-container">
  <main class="home-main">
    <div class="title">
      <h1 class="main-title">温泉オンライン</h1>
      <p class="sub-title">〜現地の人々とリアルタイムでつながる温泉情報共有サイト〜</p>
    </div>
    <div class="button-container">
      <a href="<%= new_onsen_path %>" class="btn btn-3d-circle btn-post-onsen" data-guest="<%= current_user.guest? %>">
        <span class="btn-3d-circle-content">
          <span class="btn-3d-circle-front">新しい温泉地を <br> 投稿する</span>
        </span>
        <span class="btn-3d-circle-back"><i class="fas fa-plus"></i></span>
      </a>
      <a href="<%#= nearby_onsens_path %>" class="btn btn-3d-circle btn-find-onsen">
        <span class="btn-3d-circle-content">
          <span class="btn-3d-circle-front">近くの温泉を <br> 探す</span>
        </span>
        <span class="btn-3d-circle-back"><i class="fas fa-map-marker-alt"></i></span>
      </a>  
      <a href="<%= detail_search_onsens_path %>" class="btn btn-3d-circle btn-search-onsen">
        <span class="btn-3d-circle-content">
          <span class="btn-3d-circle-front">温泉地を <br> 詳細検索する</span>
        </span>
        <span class="btn-3d-circle-back"><i class="fas fa-search"></i></span>
      </a>
    </div>
  </main>

  <div class="popular-onsens">
    <h2 class="popular-title">人気の温泉地</h2>

    <div class="onsen-scroll-container">
      <div class="onsen-scroll-content">
        <% @onsens.each_with_index do |onsen, index| %>
          <div class="card onsen-card-popular shadow-lg position-relative">
            
            <div class="ranking">
              <% if index == 0 %>
                <span class="crown">🥇</span>
              <% elsif index == 1 %>
                <span class="crown">🥈</span>
              <% elsif index == 2 %>
                <span class="crown">🥉</span>
              <% else %>
                <span class="ranking-badge"><%= index + 1 %>位</span>
              <% end %>
            </div>

            <div class="onsen-card-body">
              <% if onsen.images.attached? %>
                <%= link_to image_tag(onsen.images.first, class: 'card-img-top'), onsen_path(onsen) %>
              <% else %>
                <img src="<%= asset_path('default_onsen_image.png') %>" alt="デフォルトの温泉画像" class="image-placeholder" />
              <% end %>
              <h5 class="cardtitle">
                <%= link_to onsen.name, onsen_path(onsen), class: 'card-title' %>
              </h5>
              <p class="prefecture-name"><%= onsen.location %></p>
              <p class="last-updated">最終更新日: <%= onsen.updated_at.strftime('%Y年%m月%d日') %></p>
              <p class="saved-count">保存された数: <span id="count-<%= onsen.id %>"><%= onsen.saved_onsens.count %></span> 件</p>
            </div>

            <div class="table-save-button">
              <button class="save-button <%= current_user.saved_onsens.exists?(onsen_id: onsen.id) ? 'saved' : '' %>" 
                      title="ブックマーク" 
                      data-onsen-id="<%= onsen.id %>"
                      id="bookmark-button-<%= onsen.id %>">
                <i class="fas fa-bookmark<%= current_user.saved_onsens.exists?(onsen_id: onsen.id) ? '' : '-o' %>"></i>
              </button>

              <%= form_with(url: bookmark_onsen_path(onsen), method: :post, local: true, id: "bookmark-form-#{onsen.id}") do %>
                <%= hidden_field_tag :onsen_id, onsen.id %>
              <% end %>       
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
